In [4]:
import pandas as pd

In [6]:
df = pd.read_csv('Absenteeism_at_work6.csv')
df.head()

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average,Hit target,Disciplinary failure,Education,Body mass index,Absenteeism time in hours
0,11,26,7,3,1,289,36,13,33,239.0,97,0,1,30,4
1,36,0,7,3,1,118,13,18,50,239.0,97,1,1,31,0
2,3,23,7,4,1,179,51,18,38,239.0,97,0,1,31,2
3,7,7,7,5,1,279,5,14,39,239.0,97,0,1,24,4
4,11,23,7,5,1,289,36,13,33,239.0,97,0,1,30,2

In [14]:
df2 = pd.read_csv('Absenteeism_at_work2.csv')
df2.head()

   11  26  7  3  1  289  36  13  33  239.554  97  0  1.1  30  4
0  36   0  7  3  1  118  13  18  50  239.554  97  1    1  31  0
1   3  23  7  4  1  179  51  18  38  239.554  97  0    1  31  2
2   7   7  7  5  1  279   5  14  39  239.554  97  0    1  24  4
3  11  23  7  5  1  289  36  13  33  239.554  97  0    1  30  2
4   3  23  7  6  1  179  51  18  38  239.554  97  0    1  31  2

In [8]:
array = df.values
array

array([[11., 26.,  7., ...,  1., 30.,  4.],
       [36.,  0.,  7., ...,  1., 31.,  0.],
       [ 3., 23.,  7., ...,  1., 31.,  2.],
       ...,
       [ 4.,  0.,  0., ...,  1., 34.,  0.],
       [ 8.,  0.,  0., ...,  1., 35.,  0.],
       [35.,  0.,  0., ...,  1., 25.,  0.]])

In [1]:
# Example of separating data by class value
# Split the dataset by class values, returns a dictionary
def separate_by_class(dataset):
    separated = dict()
    for i in range(len(dataset)):
        vector = dataset[i]
        class_value = vector[-1]
        if (class_value not in separated):
            separated[class_value] = list()
            separated[class_value].append(vector)
    return separated

In [2]:
# Test separating data by class
dataset = [[3.393533211,2.331273381,0],
[3.110073483,1.781539638,0],
[1.343808831,3.368360954,0],
[3.582294042,4.67917911,0],
[2.280362439,2.866990263,0],
           [7.423436942,4.696522875,1],
[5.745051997,3.533989803,1],
[9.172168622,2.511101045,1],
[7.792783481,3.424088941,1],
[7.939820817,0.791637231,1]]
separated = separate_by_class(dataset)
for label in separated:
    print(label)
    for row in separated[label]:
        print(row)

0
[3.393533211, 2.331273381, 0]
1
[7.423436942, 4.696522875, 1]

In [10]:
# Test separating data by class
dataset2 = array
separated2 = separate_by_class(dataset2)
for label in separated2:
    print(label)
    for row in separated2[label]:
        print(row)

0.0
[ 36.   0.   7.   3.   1. 118.  13.  18.  50. 239.  97.   1.   1.  31.
   0.]
32.0
[ 15.  14.   9.   2.   4. 291.  31.  12.  40. 326.  92.   0.   1.  25.
  32.]
2.0
[  3.  23.   7.   4.   1. 179.  51.  18.  38. 239.  97.   0.   1.  31.
   2.]
3.0
[ 34.  23.   9.   2.   1. 118.  10.  10.  37. 326.  92.   0.   1.  28.
   3.]
4.0
[ 11.  26.   7.   3.   1. 289.  36.  13.  33. 239.  97.   0.   1.  30.
   4.]
5.0
[ 15.  23.  10.   5.   4. 291.  31.  12.  40. 253.  93.   0.   1.  25.
   5.]
1.0
[  3.  11.   7.   4.   1. 179.  51.  18.  38. 239.  97.   0.   1.  31.
   1.]
40.0
[ 14.  19.   7.   2.   1. 155.  12.  14.  34. 239.  97.   0.   1.  25.
  40.]
64.0
[ 34.  19.  12.   3.   4. 118.  10.  10.  37. 261.  97.   0.   1.  28.
  64.]
48.0
[ 14.  10.   5.   2.   3. 155.  12.  14.  34. 238.  99.   0.   1.  25.
  48.]
7.0
[ 10.  25.   8.   2.   1. 361.  52.   3.  28. 206.  92.   0.   1.  27.
   7.]
80.0
[ 36.  13.   6.   4.   3. 118.  13.  18.  50. 377.  94.   0.   1.  31.
  80.]
16.0
[ 20.  19.  10.   5.   4. 260.  50.  11.  36. 253.  93.   0.   1.  23.
  16.]
8.0
[ 10.  22.   7.   6.   1. 361.  52.   3.  28. 239.  97.   0.   1.  27.
   8.]
112.0
[ 28.   9.   7.   3.   1. 225.  26.   9.  28. 230.  92.   0.   1.  24.
 112.]
56.0
[ 34.  19.  12.   3.   4. 118.  10.  10.  37. 261.  97.   0.   1.  28.
  56.]
24.0
[ 11.   7.  11.   4.   4. 289.  36.  13.  33. 306.  93.   0.   1.  30.
  24.]
120.0
[ 14.  11.  11.   2.   4. 155.  12.  14.  34. 284.  97.   0.   1.  25.
 120.]
104.0
[ 11.  19.   3.   2.   3. 289.  36.  13.  33. 222.  99.   0.   1.  30.
 104.]

In [17]:
separated2[104.0]

[array([ 11.,  19.,   3.,   2.,   3., 289.,  36.,  13.,  33., 222.,  99.,
          0.,   1.,  30., 104.])]

In [12]:
separate_by_class(dataset2)

{0.0: [array([ 36.,   0.,   7.,   3.,   1., 118.,  13.,  18.,  50., 239.,  97.,
           1.,   1.,  31.,   0.])],
 1.0: [array([  3.,  11.,   7.,   4.,   1., 179.,  51.,  18.,  38., 239.,  97.,
           0.,   1.,  31.,   1.])],
 2.0: [array([  3.,  23.,   7.,   4.,   1., 179.,  51.,  18.,  38., 239.,  97.,
           0.,   1.,  31.,   2.])],
 3.0: [array([ 34.,  23.,   9.,   2.,   1., 118.,  10.,  10.,  37., 326.,  92.,
           0.,   1.,  28.,   3.])],
 4.0: [array([ 11.,  26.,   7.,   3.,   1., 289.,  36.,  13.,  33., 239.,  97.,
           0.,   1.,  30.,   4.])],
 5.0: [array([ 15.,  23.,  10.,   5.,   4., 291.,  31.,  12.,  40., 253.,  93.,
           0.,   1.,  25.,   5.])],
 7.0: [array([ 10.,  25.,   8.,   2.,   1., 361.,  52.,   3.,  28., 206.,  92.,
           0.,   1.,  27.,   7.])],
 8.0: [array([ 10.,  22.,   7.,   6.,   1., 361.,  52.,   3.,  28., 239.,  97.,
           0.,   1.,  27.,   8.])],
 16.0: [array([ 20.,  19.,  10.,   5.,   4., 260.,  50.,  11.,  36., 253.,  93.,
           0.,   1.,  23.,  16.])],
 24.0: [array([ 11.,   7.,  11.,   4.,   4., 289.,  36.,  13.,  33., 306.,  93.,
           0.,   1.,  30.,  24.])],
 32.0: [array([ 15.,  14.,   9.,   2.,   4., 291.,  31.,  12.,  40., 326.,  92.,
           0.,   1.,  25.,  32.])],
 40.0: [array([ 14.,  19.,   7.,   2.,   1., 155.,  12.,  14.,  34., 239.,  97.,
           0.,   1.,  25.,  40.])],
 48.0: [array([ 14.,  10.,   5.,   2.,   3., 155.,  12.,  14.,  34., 238.,  99.,
           0.,   1.,  25.,  48.])],
 56.0: [array([ 34.,  19.,  12.,   3.,   4., 118.,  10.,  10.,  37., 261.,  97.,
           0.,   1.,  28.,  56.])],
 64.0: [array([ 34.,  19.,  12.,   3.,   4., 118.,  10.,  10.,  37., 261.,  97.,
           0.,   1.,  28.,  64.])],
 80.0: [array([ 36.,  13.,   6.,   4.,   3., 118.,  13.,  18.,  50., 377.,  94.,
           0.,   1.,  31.,  80.])],
 104.0: [array([ 11.,  19.,   3.,   2.,   3., 289.,  36.,  13.,  33., 222.,  99.,
           0.,   1.,  30., 104.])],
 112.0: [array([ 28.,   9.,   7.,   3.,   1., 225.,  26.,   9.,  28., 230.,  92.,
           0.,   1.,  24., 112.])],
 120.0: [array([ 14.,  11.,  11.,   2.,   4., 155.,  12.,  14.,  34., 284.,  97.,
           0.,   1.,  25., 120.])]}

In [18]:
# Test separating data by class
dataset3 = df2.values
separated3 = separate_by_class(dataset3)
for label3 in separated3:
    print(label3)
    for row3 in separated2[label3]:
        print(row3)

0.0
[ 36.   0.   7.   3.   1. 118.  13.  18.  50. 239.  97.   1.   1.  31.
   0.]
32.0
[ 15.  14.   9.   2.   4. 291.  31.  12.  40. 326.  92.   0.   1.  25.
  32.]
2.0
[  3.  23.   7.   4.   1. 179.  51.  18.  38. 239.  97.   0.   1.  31.
   2.]
3.0
[ 34.  23.   9.   2.   1. 118.  10.  10.  37. 326.  92.   0.   1.  28.
   3.]
4.0
[ 11.  26.   7.   3.   1. 289.  36.  13.  33. 239.  97.   0.   1.  30.
   4.]
5.0
[ 15.  23.  10.   5.   4. 291.  31.  12.  40. 253.  93.   0.   1.  25.
   5.]
1.0
[  3.  11.   7.   4.   1. 179.  51.  18.  38. 239.  97.   0.   1.  31.
   1.]
40.0
[ 14.  19.   7.   2.   1. 155.  12.  14.  34. 239.  97.   0.   1.  25.
  40.]
64.0
[ 34.  19.  12.   3.   4. 118.  10.  10.  37. 261.  97.   0.   1.  28.
  64.]
48.0
[ 14.  10.   5.   2.   3. 155.  12.  14.  34. 238.  99.   0.   1.  25.
  48.]
7.0
[ 10.  25.   8.   2.   1. 361.  52.   3.  28. 206.  92.   0.   1.  27.
   7.]
80.0
[ 36.  13.   6.   4.   3. 118.  13.  18.  50. 377.  94.   0.   1.  31.
  80.]
16.0
[ 20.  19.  10.   5.   4. 260.  50.  11.  36. 253.  93.   0.   1.  23.
  16.]
8.0
[ 10.  22.   7.   6.   1. 361.  52.   3.  28. 239.  97.   0.   1.  27.
   8.]
112.0
[ 28.   9.   7.   3.   1. 225.  26.   9.  28. 230.  92.   0.   1.  24.
 112.]
56.0
[ 34.  19.  12.   3.   4. 118.  10.  10.  37. 261.  97.   0.   1.  28.
  56.]
24.0
[ 11.   7.  11.   4.   4. 289.  36.  13.  33. 306.  93.   0.   1.  30.
  24.]
120.0
[ 14.  11.  11.   2.   4. 155.  12.  14.  34. 284.  97.   0.   1.  25.
 120.]
104.0
[ 11.  19.   3.   2.   3. 289.  36.  13.  33. 222.  99.   0.   1.  30.
 104.]

# Summarizing a dataset

In [40]:
# Example of summarizing a dataset
from math import sqrt
# Calculate the mean of a list of numbers
def mean(numbers):
    return sum(numbers)/float(len(numbers))

# Calculate the standard deviation of a list of numbers
def stdev(numbers):
    avg = mean(numbers)
    variance = sum([(x-avg)**2 for x in numbers]) / float(len(numbers)-1)
    return sqrt(variance)

# Calculate the mean, stdev and count for each column in a dataset
def summarize_dataset(dataset):
    summaries = [(mean(column), stdev(column), len(column)) for column in zip(*dataset)]

    del(summaries[-1])
    
    return summaries

In [41]:
# Test summarizing a dataset
dataset = [[3.393533211,2.331273381,0],
[3.110073483,1.781539638,0],
[1.343808831,3.368360954,0],
[3.582294042,4.67917911,0],
[2.280362439,2.866990263,0],
[7.423436942,4.696522875,1],
[5.745051997,3.533989803,1],
[9.172168622,2.511101045,1],
[7.792783481,3.424088941,1],
[7.939820817,0.791637231,1]]
summary = summarize_dataset(dataset)
print(summary)

[(5.178333386499999, 2.7665845055177263, 10), (2.9984683241, 1.218556343617447, 10)]

In [42]:
array[:10]

array([[ 11.,  26.,   7.,   3.,   1., 289.,  36.,  13.,  33., 239.,  97.,
          0.,   1.,  30.,   4.],
       [ 36.,   0.,   7.,   3.,   1., 118.,  13.,  18.,  50., 239.,  97.,
          1.,   1.,  31.,   0.],
       [  3.,  23.,   7.,   4.,   1., 179.,  51.,  18.,  38., 239.,  97.,
          0.,   1.,  31.,   2.],
       [  7.,   7.,   7.,   5.,   1., 279.,   5.,  14.,  39., 239.,  97.,
          0.,   1.,  24.,   4.],
       [ 11.,  23.,   7.,   5.,   1., 289.,  36.,  13.,  33., 239.,  97.,
          0.,   1.,  30.,   2.],
       [  3.,  23.,   7.,   6.,   1., 179.,  51.,  18.,  38., 239.,  97.,
          0.,   1.,  31.,   2.],
       [ 10.,  22.,   7.,   6.,   1., 361.,  52.,   3.,  28., 239.,  97.,
          0.,   1.,  27.,   8.],
       [ 20.,  23.,   7.,   6.,   1., 260.,  50.,  11.,  36., 239.,  97.,
          0.,   1.,  23.,   4.],
       [ 14.,  19.,   7.,   2.,   1., 155.,  12.,  14.,  34., 239.,  97.,
          0.,   1.,  25.,  40.],
       [  1.,  22.,   7.,   2.,   1., 235.,  11.,  14.,  37., 239.,  97.,
          0.,   3.,  29.,   8.]])

In [43]:
# Test summarizing a dataset
dataset2 = array
summary2 = summarize_dataset(dataset2)
print(summary2)

[(18.017567567567568, 11.021247263063664, 740), (19.216216216216218, 8.433405882799663, 740), (6.324324324324325, 3.4362869319125844, 740), (3.9148648648648647, 1.4216747097562772, 740), (2.5445945945945945, 1.1118310601573855, 740), (221.32972972972973, 66.95222324531964, 740), (29.63108108108108, 14.836788436739168, 740), (12.554054054054054, 4.384873407621146, 740), (36.45, 6.478772457611881, 740), (nan, nan, 740), (94.58783783783784, 3.7793131344180004, 740), (0.05405405405405406, 0.22627727323214972, 740), (1.2918918918918918, 0.6732380415251568, 740), (26.677027027027027, 4.285452223167277, 740)]

In [31]:
df['Work load Average']

0      239.0
1      239.0
2      239.0
3      239.0
4      239.0
5      239.0
6      239.0
7      239.0
8      239.0
9      239.0
10     239.0
11     239.0
12     239.0
13     239.0
14     239.0
15     239.0
16     239.0
17     239.0
18     239.0
19     206.0
20     206.0
21     206.0
22     206.0
23     206.0
24     206.0
25     206.0
26     206.0
27     206.0
28     206.0
29     206.0
       ...
710    275.0
711    275.0
712    275.0
713    275.0
714    275.0
715    275.0
716    275.0
717    275.0
718    275.0
719    275.0
720    275.0
721    275.0
722    275.0
723    275.0
724    275.0
725    265.0
726    265.0
727    265.0
728    265.0
729    265.0
730    265.0
731    265.0
732    265.0
733    265.0
734    265.0
735    265.0
736    265.0
737    271.0
738    271.0
739    271.0
Name: Work load Average, Length: 740, dtype: float64

In [25]:
df['Work load Average'].mean()

276.4959349593496

In [29]:
sum(df['Work load Average'])

nan

In [32]:
df['Work load Average'].sum()

204054.0

In [30]:
sum(df['Age'])

26973

In [28]:
float(len(df['Work load Average']))

740.0

In [27]:
sum(df['Work load Average'])/float(len(df['Work load Average']))

nan

In [46]:
# Example of summarizing a dataset
from math import sqrt
# Calculate the mean of a list of numbers
def mean(numbers):
    return mean(numbers)

# Calculate the standard deviation of a list of numbers
def stdev(numbers):
    avg = mean(numbers)
    variance = sum([(x-avg)**2 for x in numbers]) / float(len(numbers)-1)
    return sqrt(variance)

# Calculate the mean, stdev and count for each column in a dataset
def summarize_dataset(dataset):
    summaries = [(mean(column), stdev(column), len(column)) for column in zip(*dataset)]

    del(summaries[-1])
    
    return summaries

In [47]:
# Test summarizing a dataset
dataset3 = [[3.393533211,2.331273381,0],
[3.110073483,1.781539638,0],
[1.343808831,3.368360954,0],
[3.582294042,4.67917911,0],
[2.280362439,2.866990263,0],
[7.423436942,4.696522875,1],
[5.745051997,3.533989803,1],
[9.172168622,2.511101045,1],
[7.792783481,3.424088941,1],
[7.939820817,0.791637231,1]]
summary3 = summarize_dataset(dataset3)
print(summary3)

RecursionError: maximum recursion depth exceeded