https://www.kaggle.com/hypnobear/absenteeism-at-work-dataset

https://www.kaggle.com/chetnasureka/absenteeismatwork/kernels

https://www.kaggle.com/shreytiwari/name-na

https://www.kaggle.com/miner16078/zenith-classification-and-clustering

https://www.kaggle.com/tejprash/theaggregatr-assign6

https://www.kaggle.com/kerneler/starter-absenteeism-at-work-7c360987-f

https://www.kaggle.com/dweepa/outliers-assign6

# Understand Your Data With
Descriptive Statistics
You must understand your data in order to get the best results. In this chapter you will discover
7 recipes that you can use in Python to better understand your machine learning data. After
reading this lesson you will know how to:
1. Take a peek at your raw data.
2. Review the dimensions of your dataset.
3. Review the data types of attributes in your data.
4. Summarize the distribution of instances across classes in your dataset.
5. Summarize your data using descriptive statistics.
6. Understand the relationships in your data using correlations.
7. Review the skew of the distributions of each attribute.
Each recipe is demonstrated by loading the Pima Indians Diabetes classication dataset
from the UCI Machine Learning repository. Open your Python interactive environment and try
each recipe out in turn. Let's get started.

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Absenteeism_at_work.csv')

In [3]:
data.head(20)

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,Hit target,Disciplinary failure,Education,Body mass index,Absenteeism time in hours
0,11,26,7,3,1,289,36,13,33,239.554,97,0,1,30,4
1,36,0,7,3,1,118,13,18,50,239.554,97,1,1,31,0
2,3,23,7,4,1,179,51,18,38,239.554,97,0,1,31,2
3,7,7,7,5,1,279,5,14,39,239.554,97,0,1,24,4
4,11,23,7,5,1,289,36,13,33,239.554,97,0,1,30,2
5,3,23,7,6,1,179,51,18,38,239.554,97,0,1,31,2
6,10,22,7,6,1,361,52,3,28,239.554,97,0,1,27,8
7,20,23,7,6,1,260,50,11,36,239.554,97,0,1,23,4
8,14,19,7,2,1,155,12,14,34,239.554,97,0,1,25,40
9,1,22,7,2,1,235,11,14,37,239.554,97,0,3,29,8
10,20,1,7,2,1,260,50,11,36,239.554,97,0,1,23,8
11,20,1,7,3,1,260,50,11,36,239.554,97,0,1,23,8
12,20,11,7,4,1,260,50,11,36,239.554,97,0,1,23,8
13,3,11,7,4,1,179,51,18,38,239.554,97,0,1,31,1
14,3,23,7,4,1,179,51,18,38,239.554,97,0,1,31,4
15,24,14,7,6,1,246,25,16,41,239.554,97,0,1,23,8
16,3,23,7,6,1,179,51,18,38,239.554,97,0,1,31,2
17,3,21,7,2,1,179,51,18,38,239.554,97,0,1,31,8
18,6,11,7,5,1,189,29,13,33,239.554,97,0,1,25,8
19,33,23,8,4,1,248,25,14,47,205.917,92,0,1,32,2

In [4]:
print(data.shape)

(740, 15)

In [5]:
data.groupby('Distance from Residence to Work')

## Descriptive Statistics
Descriptive statistics can give you great insight into the properties of each attribute. Often you
can create more summaries than you have time to review. The describe() function on the
Pandas DataFrame lists 8 statistical properties of each attribute. They are:

In [6]:
data.describe()

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,Hit target,Disciplinary failure,Education,Body mass index,Absenteeism time in hours
count,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000
mean,18.017568,19.216216,6.324324,3.914865,2.544595,221.329730,29.631081,12.554054,36.450000,271.490235,94.587838,0.054054,1.291892,26.677027,6.924324
std,11.021247,8.433406,3.436287,1.421675,1.111831,66.952223,14.836788,4.384873,6.478772,39.058116,3.779313,0.226277,0.673238,4.285452,13.330998
min,1.000000,0.000000,0.000000,2.000000,1.000000,118.000000,5.000000,1.000000,27.000000,205.917000,81.000000,0.000000,1.000000,19.000000,0.000000
25%,9.000000,13.000000,3.000000,3.000000,2.000000,179.000000,16.000000,9.000000,31.000000,244.387000,93.000000,0.000000,1.000000,24.000000,2.000000
50%,18.000000,23.000000,6.000000,4.000000,3.000000,225.000000,26.000000,13.000000,37.000000,264.249000,95.000000,0.000000,1.000000,25.000000,3.000000
75%,28.000000,26.000000,9.000000,5.000000,4.000000,260.000000,50.000000,16.000000,40.000000,294.217000,97.000000,0.000000,1.000000,31.000000,8.000000
max,36.000000,28.000000,12.000000,6.000000,4.000000,388.000000,52.000000,29.000000,58.000000,378.884000,100.000000,1.000000,4.000000,38.000000,120.000000

## Class Distribution (Classifcation)
On classication problems you need to know how balanced the class values are. Highly imbalanced
problems (a lot more observations for one class than another) are common and may need special
handling in the data preparation stage of your project. You can quickly get an idea of the
distribution of the class attribute in Pandas.

In [30]:
class_counts = data.groupby('ID').size()
print(class_counts)

ID
1      23
2       6
3     113
4       1
5      19
6       8
7       6
8       2
9       8
10     24
11     40
12      7
13     15
14     29
15     37
16      2
17     20
18     16
19      3
20     42
21      3
22     46
23      8
24     30
25     10
26      5
27      7
28     76
29      5
30      7
31      3
32      5
33     24
34     55
35      1
36     34
dtype: int64

In [31]:
data_class.shape

(741, 15)

In [32]:
print(len(data_class['ID']))

741

In [66]:
class_counts = data.groupby('Reason for absence').size()
print(class_counts)

Reason for absence
0      43
1      16
2       1
3       1
4       2
5       3
6       8
7      15
8       6
9       4
10     25
11     26
12      8
13     55
14     19
15      2
16      3
17      1
18     21
19     40
21      6
22     38
23    149
24      3
25     31
26     33
27     69
28    112
dtype: int64

In [33]:
class_counts = data.groupby('Month of absence').size()
print(class_counts)

Month of absence
0      3
1     50
2     72
3     87
4     53
5     64
6     54
7     67
8     54
9     53
10    71
11    63
12    49
dtype: int64

In [34]:
class_counts = data.groupby('Day of the week').size()
print(class_counts)

Day of the week
2    161
3    154
4    156
5    125
6    144
dtype: int64

In [35]:
class_counts = data.groupby('Seasons').size()
print(class_counts)

Seasons
1    170
2    192
3    183
4    195
dtype: int64

In [36]:
# Absenteeism time in hours

In [37]:
class_counts = data.groupby('Transportation expense').size()
print(class_counts)

Transportation expense
118     92
155     29
157      7
179    180
184      7
189      8
225     81
228      8
231      2
233      7
235     58
246     30
248     24
260     42
268      3
279      6
289     45
291     40
300      5
330     16
361     24
369     15
378      8
388      3
dtype: int64

In [38]:
class_counts = data.groupby('Distance from Residence to Work').size()
print(class_counts)

Distance from Residence to Work
5       6
10     55
11     26
12     29
13     34
14      9
15      9
16     26
17     15
20     19
22     20
25     54
26    128
27      7
29     14
31     37
35      2
36     40
42      7
45      1
48      5
49      8
50     45
51    120
52     24
dtype: int64

In [39]:
class_counts = data.groupby('Service time').size()
print(class_counts)

Service time
1       7
3      24
4      16
6       7
7       7
8      13
9     126
10     55
11     50
12     61
13     73
14     85
15      4
16     38
17     20
18    147
24      2
29      5
dtype: int64

In [40]:
class_counts = data.groupby('Age').size()
print(class_counts)

Age
27      7
28    117
29      7
30     46
31     22
32     13
33     51
34     29
36     50
37     78
38    113
39      8
40     58
41     34
43     24
46      2
47     24
48      6
49      5
50     37
53      1
58      8
dtype: int64

In [42]:
class_counts = data.groupby('Hit target').size()
print(class_counts)

Hit target
81      19
87      12
88      28
91      45
92      79
93     105
94      34
95      75
96      75
97      89
98      66
99     102
100     11
dtype: int64

In [43]:
class_counts = data.groupby('Disciplinary failure').size()
print(class_counts)

Disciplinary failure
0    700
1     40
dtype: int64

In [44]:
class_counts = data.groupby('Education').size()
print(class_counts)

Education
1    611
2     46
3     79
4      4
dtype: int64

In [46]:
class_counts = data.groupby('Body mass index').size()
print(class_counts)

Body mass index
19     46
21     22
22     35
23     75
24     86
25    126
27     24
28     59
29     23
30     40
31    147
32     24
33      6
34      1
35      2
36      5
38     19
dtype: int64

In [47]:
class_counts = data.groupby('Absenteeism time in hours').size()
print(class_counts)

Absenteeism time in hours
0       44
1       88
2      157
3      112
4       60
5        7
7        1
8      208
16      19
24      16
32       6
40       7
48       1
56       2
64       3
80       3
104      1
112      2
120      3
dtype: int64

## Correlations Between Attributes
Correlation refers to the relationship between two variables and how they may or may not
change together. The most common method for calculating correlation is Pearson's Correlation
Coecient, that assumes a normal distribution of the attributes involved. A correlation of -1
or 1 shows a full negative or positive correlation respectively. Whereas a value of 0 shows no
correlation at all. Some machine learning algorithms like linear and logistic regression can suer
poor performance if there are highly correlated attributes in your dataset. As such, it is a good
idea to review all of the pairwise correlations of the attributes in your dataset. You can use the
corr() function on the Pandas DataFrame to calculate a correlation matrix.

In [55]:
from pandas import set_option

set_option('display.width', 100)
set_option('precision', 3)
correlations = data.corr(method='pearson')
print(correlations)

                                        ID  Reason for absence  Month of absence  Day of the week  \
ID                               1.000e+00              -0.064        -4.346e-05            0.034
Reason for absence              -6.424e-02               1.000        -8.386e-02            0.116
Month of absence                -4.346e-05              -0.084         1.000e+00           -0.007
Day of the week                  3.447e-02               0.116        -6.528e-03            1.000
Seasons                          9.849e-02              -0.118         4.078e-01            0.046
Transportation expense          -2.242e-01              -0.119         1.375e-01            0.034
Distance from Residence to Work -4.862e-01               0.162        -3.887e-03            0.118
Service time                    -2.727e-01               0.048        -6.286e-02            0.021
Age                              4.090e-02              -0.079        -1.520e-03            0.004
Work load Average/day            9.246e-02              -0.123        -1.700e-01            0.016
Hit target                       1.879e-02               0.089        -4.605e-01            0.031
Disciplinary failure             4.502e-03              -0.545         1.079e-01           -0.015
Education                       -3.625e-02              -0.047        -6.613e-02            0.059
Body mass index                 -3.069e-01               0.037         5.105e-02           -0.104
Absenteeism time in hours       -1.800e-02              -0.173         2.435e-02           -0.124

                                 Seasons  Transportation expense  Distance from Residence to Work  \
ID                                 0.098                  -0.224                           -0.486
Reason for absence                -0.118                  -0.119                            0.162
Month of absence                   0.408                   0.138                           -0.004
Day of the week                    0.046                   0.034                            0.118
Seasons                            1.000                   0.037                           -0.063
Transportation expense             0.037                   1.000                            0.262
Distance from Residence to Work   -0.063                   0.262                            1.000
Service time                      -0.011                  -0.350                            0.132
Age                               -0.012                  -0.228                           -0.146
Work load Average/day              0.150                   0.005                           -0.069
Hit target                        -0.061                  -0.080                           -0.014
Disciplinary failure               0.152                   0.109                           -0.057
Education                         -0.003                  -0.055                           -0.260
Body mass index                   -0.011                  -0.137                            0.114
Absenteeism time in hours         -0.006                   0.028                           -0.088

                                 Service time    Age  Work load Average/day   Hit target  \
ID                                 -2.727e-01  0.041               9.246e-02       0.019
Reason for absence                  4.843e-02 -0.079              -1.235e-01       0.089
Month of absence                   -6.286e-02 -0.002              -1.700e-01      -0.460
Day of the week                     2.125e-02  0.004               1.565e-02       0.031
Seasons                            -1.090e-02 -0.012               1.504e-01      -0.061
Transportation expense             -3.499e-01 -0.228               5.438e-03      -0.080
Distance from Residence to Work     1.317e-01 -0.146              -6.868e-02      -0.014
Service time                        1.000e+00  0.671              -6.685e-04      -0.008
Age                                 6.710e-01  1.000              -3.943e-02      -0.039
Work load Average/day              -6.685e-04 -0.039               1.000e+00      -0.089
Hit target                         -7.840e-03 -0.039              -8.944e-02       1.000
Disciplinary failure               -2.212e-04  0.104               2.903e-02      -0.148
Education                          -2.130e-01 -0.222              -7.496e-02       0.101
Body mass index                     4.997e-01  0.471              -9.071e-02      -0.089
Absenteeism time in hours           1.903e-02  0.066               2.475e-02       0.027

                                 Disciplinary failure  Education  Body mass index  \
ID                                          4.502e-03     -0.036           -0.307
Reason for absence                         -5.451e-01     -0.047            0.037
Month of absence                            1.079e-01     -0.066            0.051
Day of the week                            -1.512e-02      0.059           -0.104
Seasons                                     1.518e-01     -0.003           -0.011
Transportation expense                      1.092e-01     -0.055           -0.137
Distance from Residence to Work            -5.653e-02     -0.260            0.114
Service time                               -2.212e-04     -0.213            0.500
Age                                         1.043e-01     -0.222            0.471
Work load Average/day                       2.903e-02     -0.075           -0.091
Hit target                                 -1.480e-01      0.101           -0.089
Disciplinary failure                        1.000e+00     -0.059            0.079
Education                                  -5.930e-02      1.000           -0.367
Body mass index                             7.943e-02     -0.367            1.000
Absenteeism time in hours                  -1.242e-01     -0.046           -0.050

                                 Absenteeism time in hours
ID                                                  -0.018
Reason for absence                                  -0.173
Month of absence                                     0.024
Day of the week                                     -0.124
Seasons                                             -0.006
Transportation expense                               0.028
Distance from Residence to Work                     -0.088
Service time                                         0.019
Age                                                  0.066
Work load Average/day                                0.025
Hit target                                           0.027
Disciplinary failure                                -0.124
Education                                           -0.046
Body mass index                                     -0.050
Absenteeism time in hours                            1.000

## Skew of Univariate Distributions
Skew refers to a distribution that is assumed Gaussian (normal or bell curve) that is shifted or
squashed in one direction or another. Many machine learning algorithms assume a Gaussian
distribution. Knowing that an attribute has a skew may allow you to perform data preparation
to correct the skew and later improve the accuracy of your models. You can calculate the skew
of each attribute using the skew() function on the Pandas DataFrame.

The skew results show a positive (right) or negative (left) skew. Values closer to zero show
less skew.

In [57]:
skew = data.skew()
print(skew)

ID                                 0.017
Reason for absence                -0.915
Month of absence                   0.069
Day of the week                    0.102
Seasons                           -0.039
Transportation expense             0.396
Distance from Residence to Work    0.312
Service time                      -0.005
Age                                0.698
Work load Average/day              0.961
Hit target                        -1.262
Disciplinary failure               3.952
Education                          2.109
Body mass index                    0.305
Absenteeism time in hours          5.721
dtype: float64

### Tips To Remember


This section gives you some tips to remember when reviewing your data using summary statistics.
- Review the numbers. Generating the summary statistics is not enough. Take a moment
to pause, read and really think about the numbers you are seeing.


- Ask why. Review your numbers and ask a lot of questions. How and why are you seeing
specifc values. Think about how the numbers relate to the problem domain in general
and specific entities that observations relate to.


- Write down ideas. Write down your observations and ideas. Keep a small text file or
note pad and jot down all of the ideas for how variables may relate, for what numbers
mean, and ideas for techniques to try later. The things you write down now while the
data is fresh will be very valuable later when you are trying to think up new things to try.